@charset 'utf-8';
@import 'header';
@import 'content';
@import 'footer';
@import 'fonts';
body {
    color: $col;
    background-color: $bg-col;
    font-family: $font-fam;
    line-height: $line-h;
    margin: 0 auto;
    font-size: $fz;
}